/* FOOTER */

footer {
    background-color: #111111;
}

#social {
    padding: 45px;
    width: 80%;
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: .2px;
    border-bottom: 0.5px solid #777777;
}

#footerSecond {
    padding: 33px;
    color: #777777;
}

footer a {
    color: white;

}

.footerIcons:hover {
    cursor: pointer;
    color: #d4d4d4;
    text-decoration: none;
}