/* HEADER */

.stick {
    position: sticky;
    background-color: #f3f3f3;
    top: 0;
    z-index: 1;
    height: 70px;
}

nav {
    width: 800px;
}

nav a {
    color: black;
    font-weight: 600;
}

nav a:hover, nav i:hover {
    color: #003cd4;
    cursor: pointer;
}

.activeLink {
    color: #003cd4;
    font-weight: bold;
}

/* BACKGROUND IMAGE */

.bgImg {
    background-image: url(../img/mainBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 300px;
    width: 100%;
}

/* SERVICES */

.container {
    max-width: 800px;
    height: 400px;
    margin: 20px 0;
    padding: 0;
}

.services {
    width: 25%;
    border: 1px solid #777777;
    text-align: center;
}

.services img {
    width: 100%;
    height: 40%;
}

.servicesHeader {
    margin: 10px 5px;
    font-weight: bold;
}

.services p {
    font-size: 14px;
    margin: 0 5px 5px;
}

/* MAP */

#map {
    height: 300px;
    width: 100%;
}

/* LOGIN */

.loginBg {
    background-image: url(../img/loginBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 640px;
    color: #cfcfcf;
}

/* REGISTER */

.registerBg {
    background-image: url(../img/registerBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    color: #f3f3f3;
}

.registerContainer {
    height: 100%;
}

label {
    font-weight: bold;
}

small, sup {
    color: rgb(230, 59, 29);
    font-weight: bold;
}

sup {
    color: rgb(238, 61, 30);
    margin-left: 5px;
}

/* FEEDBACK */

#feedbackFormCont {
    width: 70%
}

.feedbackHead {
    color: #003cd4;
    padding: 20px;
}

.feedbackRegister {
    font-weight: 600;
    font-size: 18px;
}

.feedbackRegister a {
    color: #003cd4;
}

#feedbackFormCont {
    width: 52%;
}

#commentBtn {
    width: 100%;
}

/* FOOTER */

footer {
    background-color: #111111;
    width: 100%;
    height: 70px;
    color: #777777;
}

/* MEDIA */

@media screen and (max-width: 400px) {
    .navRes {
        flex-direction: column;
    }

    .bgImg {
        height: 150px;
    }

    .container {
    flex-direction: column;
    height: 100%;
    }

    .services {
    width: 70%;
    }
}